<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>656308810207-f9bsj7tuh95k11a7a1af19imptji0ije.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656308810207-f9bsj7tuh95k11a7a1af19imptji0ije</string>
	<key>API_KEY</key>
	<string>AIzaSyBxUqrrzrxPJKbH0me0zswdTn2dPdXThHg</string>
	<key>GCM_SENDER_ID</key>
	<string>656308810207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.none.Store-Project</string>
	<key>PROJECT_ID</key>
	<string>store-for-isc-10149</string>
	<key>STORAGE_BUCKET</key>
	<string>store-for-isc-10149.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:656308810207:ios:43d9c43c2cc4816241946a</string>
	<key>DATABASE_URL</key>
	<string>https://store-for-isc-10149.firebaseio.com</string>
</dict>
</plist>
